.audio-body {
    /* background: url("https://i.imgur.com/4MuY3MR.png") no-repeat fixed; */
    background: url("../images/audio-background.png") no-repeat fixed;

    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    display: grid;
    place-items: center;
}

.audio-body *,
.audio-body *::before,
.audio-body *::after {
    box-sizing: border-box;
}

input {
    font: inherit;
}

.app-window {
    --br: 14px;
    max-width: 1300px;
    width: 100%;
    border-radius: var(--br);
    display: grid;
    grid-template-columns: 220px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
}

aside {
    --spacing-offset: 10px;
    border-top-left-radius: var(--br);
    border-bottom-left-radius: var(--br);
    padding: 20px 25px;
}
aside .window-actions {
    margin: 10px 0 45px var(--spacing-offset);
}
aside .window-actions .window-action {
    --btn-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: var(--btn-size);
    height: var(--btn-size);
    padding: 0;
    margin-right: 1px;
    transition: 0.2s;
    transition-property: background-color, border-color;
}
aside .window-actions .window-action--close {
    --btn-clr: #ff5d55;
}
aside .window-actions .window-action--min {
    --btn-clr: #ffc306;
}
aside .window-actions .window-action--max {
    --btn-clr: #14ca39;
}
aside .window-actions .window-action:hover {
    background-color: var(--btn-clr);
    border-color: var(--btn-clr);
}
aside .nav {
    margin-bottom: 45px;
    font-size: 14px;
}
aside .nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px var(--spacing-offset);
    border-radius: 4px;
    transition: background-color 0.2s;
}
aside .nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
aside .nav > h3 {
    padding-left: var(--spacing-offset);
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;
}
aside .nav > ul li:not(:last-of-type) {
    margin-bottom: 3px;
}
aside .nav > ul .nav-item--selected > a {
    /*background-color: rgba(0, 0, 0, 0.2);*/
}
aside .nav.nav--main {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.64px;
}
aside .nav.nav--has-icons {
    --icon-size: 16px;
}
aside .nav.nav--has-icons > ul li a {
    display: flex;
    align-items: center;
}
aside .nav.nav--has-icons > ul li a svg {
    margin-right: 25px;
    width: var(--icon-size);
    height: var(--icon-size);
    opacity: 0.8;
}

main {
    border-top-right-radius: var(--br);
    border-bottom-right-radius: var(--br);
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px 30px 50px;
    max-height: 820px;
    overflow-y: auto;
}
main::-webkit-scrollbar {
    width: 9px;
}
main::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}
main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.2s;
}
main::-webkit-scrollbar-thumb:hover {
    background-color: black;
}
main .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
main .top-bar__search {
    flex: 1;
    margin-right: 50px;
    position: relative;
}
main .top-bar__search svg {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}
main .top-bar__search input {
    background-color: transparent;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    padding: 4px 10px 4px 40px;
    color: #fff;
    border: none;
}
main .top-bar__search input::placeholder {
    color: #fff;
}
main .top-bar__search input::placeholder {
    color: #fff;
}
main .top-bar__user img {
    --size: 35px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    margin-top: 5px;
}
main .screen-title {
    font-size: 60px;
    font-weight: 700;
}
main .artworks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 30px;
    padding-bottom: 100px;
}
main .artwork {
    border-radius: var(--br);
    overflow: hidden;
    position: relative;
    height: 350px;
    cursor: pointer;
}
main .artwork__bg {
    height: 100%;
    width: 100%;
    background: var(--img) no-repeat center;
    background-size: cover;
}
main .artwork__details {
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    bottom: 0;
    padding: 30px 0;
    border-radius: 0 0 var(--br) var(--br);
}
main .artwork__details-inner {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main .artwork-artist {
    font-weight: 500;
    letter-spacing: 0.45px;
    margin-bottom: 4px;
}
main .artwork-song {
    font-weight: 300;
}

aside,
main {
    position: relative;
}

.player {
    --offset: 20px;
    position: absolute;
    bottom: var(--offset);
    left: var(--offset);
    right: var(--offset);
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: var(--br);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}
.player__max {
    display: none;
}
.player--docked {
    right: auto;
}
.player--docked .player__centre,
.player--docked .player__right {
    display: none;
}
.player--docked .player__max {
    display: block;
}
.player--docked .player__min {
    display: none;
}
.player__dock {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
}
.player__left,
.player__centre,
.player__right {
    position: relative;
}
.player__left,
.player__right {
    flex: 1;
}
.player__centre {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin: 0 100px;*/
}
.player__centre .player-actions {
    margin: 12px 0 20px;
}
.player__centre .player-actions svg {
    width: 18px;
    height: 18px;
    fill: #fff;
    margin: 0 10px;
    cursor: pointer;
}
.player__centre .player-progress {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.player__centre .player-progress span {
    font-size: 14px;
}
.player__centre .player-progress-bar {
    margin: 0 20px;
}
.player__centre .player-progress-bar-done {
    background-image: linear-gradient(90deg, #017bff, #03b0ff);
}
.player__left {
    display: flex;
    align-items: center;
}
.player__left .player__pic {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 15px;
}
.now-playing {
    flex: 1 0 0;
}
.now-playing--title,
.now-playing--artist {
    width: 100%;
}

.player__left .now-playing--title,
.player__left .now-playing--artist {
    display: block;
}
.player__left .now-playing--title {
    font-weight: 500;
    margin-bottom: 3px;
}
.player__left .now-playing--artist {
    font-size: 15px;
    font-weight: 300;
}
.player__right {
    display: flex;
    align-items: center;
}
.player__right svg {
    margin-right: 25px;
}
.player .player-progress-bar {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 5px;
    border-radius: 15px;
    position: relative;
}
.player .player-progress-bar-done {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: width 0.2s;
    border-radius: 15px;
}
