.board-body {
    background-color: #000;
    color: #fff; /* 텍스트 색상을 밝게 설정 */
    height: 100%;
    width: 100%;
    /* margin-left: -10%; */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

section.notice {
    /* padding: 80px 0; */
    padding: var(--size-px-80) var(--size-px-20);
}

.page-title {
    /* margin-bottom: 60px; */
    margin-bottom: var(--size-px-60);

}

.page-title h3 {
    /* font-size: 28px; */
	font-size: var(--size-px-28);
    color: #fff; /* 페이지 타이틀 텍스트 색상을 밝게 설정 */
    font-weight: 400;
    text-align: center;
}

#board-search .search-window {
    padding: var(--size-px-15) 0;
    background-color: #333; /* 검색창 배경색을 어둡게 설정 */
}

#board-search .search-window .search-wrap {
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 564px;
}

#board-search .search-window .search-wrap input {
    /* height: 40px; */
	height: var(--size-px-40);
    width: 100%;
    /* font-size: 14px; */
    font-size: var(--size-px-14);
    /* padding: 7px 14px; */
    padding: var(--size-px-7) var(--size-px-14);

    border: 1px solid #ccc;
    background-color: #333; /* 검색 입력창 배경색을 어둡게 설정 */
    color: #fff; /* 검색 입력 텍스트를 밝게 설정 */
}

#board-search .search-window .search-wrap input:focus {
    border-color: #fff; /* 검색 입력창 포커스시 테두리 색상을 밝게 설정 */
    outline: 0;
    border-width: 1px;
}

#board-search .search-window .search-wrap .btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    /* width: 108px; */
	width: var(--size-px-100);
    padding: 0;
    /* font-size: 16px; */
    font-size: var(--size-px-16);

}

.board-table {
    /* font-size: 13px; */
    font-size: var(--size-px-14);

    width: 100%;
    border-top: 1px solid #666; /* 테이블 상단 경계선 색상 어둡게 설정 */
    border-bottom: 1px solid #666; /* 테이블 하단 경계선 색상 어둡게 설정 */
}

.board-table a {
    color: #fff; /* 링크 텍스트 색상을 밝게 설정 */
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
}

.board-table a:hover {
    text-decoration: underline;
}

.board-table th {
    text-align: center;
}

.board-table .th-num {
    /* width: 100px; */
    width: var(--size-px-100);
    text-align: center;
}

.board-table .th-date {
    /* width: 200px; */
    width: var(--size-px-200);

}

.board-table th,
.board-table td {
    padding: 14px 0;
    padding: var(--size-px-14) 0;

}

.board-table tbody td {
    border-top: 1px solid #444; /* 테이블 내부 셀 경계선 색상 어둡게 설정 */
    text-align: center;
}

.board-table tbody th {
    /* padding-left: 28px; */
    padding-left: var(--size-px-28);

    /* padding-right: 14px; */
    padding-right: var(--size-px-14);

    border-top: 1px solid #444; /* 테이블 내부 셀 경계선 색상 어둡게 설정 */
    text-align: left;
}

.board-table tbody th p {
    display: none;
}

.btn {
    display: inline-block;
    /* padding: 0 30px; */
    padding: 0 var(--size-px-30);

    /* font-size: 15px; */
    font-size: var(--size-px-15);

    font-weight: 400;
    background: transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-dark {
    background: #555;
    color: #fff;
}

.btn-dark:hover,
.btn-dark:focus {
    background: #373737;
    border-color: #373737;
    color: #fff;
}

/* reset */

* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.board-body .container {
    /* width: 1100px; */
    margin: 0 auto;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}
