/* #geolocation-message{
  position:absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
} */

.geolocation-buttons-container {
    position: absolute;
    top: 5%;
    left: 6%;
    display: flex;
    gap: 10px;
    z-index: 100;
}

.geolocation-button {
    appearance: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center; /* 아이콘과 텍스트를 수직으로 가운데 정렬합니다. */
    justify-content: center; /* 아이콘과 텍스트를 가로로 가운데 정렬합니다. */
    color: #444444; /* 버튼 텍스트 색상을 검정색으로 변경합니다. */
    margin: 0;
    min-width: 50px;
    height: 40px; /* 버튼의 높이를 조정합니다. */
    font-size: 14px; /* 버튼 텍스트의 크기를 조정합니다. */
    padding: 10px 20px; /* 버튼 내부의 여백을 조정합니다. */
    border-radius: 20px; /* 버튼의 모서리를 둥글게 합니다. */
    background: white; /* 버튼 배경색을 금색으로 변경합니다. */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); /* 버튼의 그림자를 조정합니다. */
    transition: transform 0.03s;
    cursor: pointer;
}

.geolocation-button:hover {
    transform: scaleX(1.02) scaleY(1.03) translateZ(0);
    color: #007bff;
}

.geolocation-button.clicked {
    transform: scaleX(1.02) scaleY(1.03) translateZ(0);
    color: white;
    background-color: #007bff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* 클릭 상태의 그림자 */
}

/* 화면 크기가 768px 이하일 때 적용될 스타일 */
@media (max-width: 768px) {
    .geolocation-button {
        min-width: 40px; /* 버튼의 최소 너비를 조금 줄입니다 */
        height: 30px; /* 버튼의 높이를 줄입니다 */
        font-size: 12px; /* 글자 크기를 줄입니다 */
        padding: 5px 10px; /* 내부 패딩을 조정합니다 */
    }

    .geolocation-buttons-container {
        top: 5%; /* 화면이 작아질 때 상단 여백 증가 */
        left: 6%; /* 화면이 작아질 때 좌측 여백 증가 */
    }
}

/* 화면 크기가 480px 이하일 때 적용될 스타일 */
@media (max-width: 480px) {
    .geolocation-button {
        min-width: 30px; /* 더 작은 화면에 맞게 너비를 줄입니다 */
        height: 25px; /* 높이를 더 줄입니다 */
        font-size: 10px; /* 글자 크기를 더 작게 조정합니다 */
        padding: 3px 6px; /* 패딩을 더 줄입니다 */
    }

    .geolocation-buttons-container {
        top: 5%; /* 더 작은 화면에서 상단 여백 추가 증가 */
        left: 6%; /* 더 작은 화면에서 좌측 여백 줄임 */
    }
}
