#map{
    width:100%;
    height:100%; 
    
}
.geolocation-body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: white; */
}

.geolocation-container {
	width: 100%;
	height: 100%;
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
    position: relative;
}



.customoverlay {
    display:none;
    position:relative;
    bottom:45px;
    border-radius:6px;
    /* border: 1px solid #ccc; */
    border-bottom:2px solid #ddd;
    float:left;
}

.customoverlay:nth-of-type(n) {
    border:0; 
    box-shadow:0px 1px 2px #888;
}

.customoverlay a {
    display:block;
    text-decoration:none;
    color:#000;
    text-align:center;
    border-radius:6px;
    font-size:14px;
    overflow:hidden;
}

.customoverlay .title {
    display:block;
    text-align:center;
    background:#fff;
    /* margin-right:35px; */
    padding:10px 20px;
    font-size:14px;
}

.customoverlay:after {
    content:'';
    position:absolute;
    margin-left:-12px;
    left:50%;
    bottom:-12px;
    width:22px;
    height:12px;
    background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

/* -------------------- */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
  
  .bounce {
    animation: bounce 2s infinite;
  }
  
  /* #geolocation-message 요소 전체 스타일 */
/* 전체 메시지 컨테이너 스타일 */
.geolocation-message-style {
    visibility: hidden;
    position: fixed;
    bottom: 3%; /* 변경: 퍼센트로 설정 */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5%;
    background: #FFFFFF;
    border-radius: 10px; /* 변경: 퍼센트로 설정 */
    box-shadow: 0 1% 5% rgba(0, 0, 0, 0.1); /* 변경: 퍼센트로 설정 */
    max-width: 85%; /* 변경: 퍼센트로 설정 */
    width: 80%; /* 좌우 여백을 고려한 너비 */
    z-index: 1000; /* 다른 요소들 위에 보이도록 설정 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); 
  }

  .geolocation-message-style:hover{
    opacity: 0.7;
  }
  

#distance-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
#distance-content span:first-child{
  font-size:  1.1vw;
}
#distance-content span:last-child{
  font-size:  1.8vw;
}
#distance-all{
  font-weight: bold;
} 
#distance-number{
  color: #007bff;
} 
  
.geo-icon-button {
  background-color: #007bff;
  display: flex;
  padding: 0.5vw;
  border-radius: 50%;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%); /* 아이콘을 정 중앙으로 맞추기 */
}

.geo-icon-button .fa-directions {
  font-size: 2vw; /* 아이콘 크기 조절 */
  color:white;
}
  
 
  
  