:root {
    /* Size */
    --sizeVar: 110vmin;
    --sizeIconImg: 1.2vmin;

    /* Img */
    --ipadBackgroundImg: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80");
    --ipadScreenStatusBarImg: url("https://assets.codepen.io/2722301/status.png");
    --ipadScreenLockIconImg: url("https://assets.codepen.io/2722301/lock.png");

    /* App Icon Img */
    --appIconGeolocationImg: url(../images/icon_geolocation.png);
    --appIconVideoImg: url(../images/icon_video.png);
    --appIconAudioImg: url(../images/icon_audio.png);
    --appIconIntroduceImg: url(../images/icon_introduce.png);
    --appIconMemoImg: url(https://assets.codepen.io/2722301/icon_md.png);
    --appIconFictureImg: url(https://assets.codepen.io/2722301/icon_cm.png);
    --appIconKanbanImg: url(../images/icon_kanban.png);
    --appIconTodoImg: url(../images/icon_todo.png);
    --appIconBoardImg: url(../images/icon_board.png);
    --appIconCanvasImg: url(../images/icon_canvas.png);
    --appIconSignupImg: url(../images/icon_signup.png);

    /* Img Not use */
    /*
	--appIconCompassImg : url(https://assets.codepen.io/2722301/icon_sf.png);
	--appIconTwitterImg: url(https://assets.codepen.io/2722301/icon_tw.png);
	--appIconFaceBookImg: url(https://assets.codepen.io/2722301/icon_fb.png);
	*/


	/* widget */
	/* color */
	--wt-color-skyblue: #d2e3ed;
	--wt-color-white: #fff;
	--wt-color-gradation: linear-gradient(135deg, rgba(158, 15, 184, 0.9) -20%, rgba(5, 232, 255, 0.9) 165%);
	--wt-color-gradation-hover: linear-gradient(135deg, rgba(158, 15, 184, 0.8) -20%, rgba(5, 232, 255, 0.8) 165%);
	--wt-color-gradation-active: linear-gradient(135deg, rgba(158, 15, 184, 0.9) -20%, rgba(5, 232, 255, 0.9) 165%);

	/* size */
	--wt-app-width: 375px;
	--wt-app-min-height: 200px;

	/* board */
	--wt-border-radius: 22px;

	/* margin */
	--wt-my0mxAuto: 0 auto;

	/* size */
	--size-px-2: calc(var(--sizeVar) *.002);
	--size-px-4: calc(var(--sizeVar) *.004);
	--size-px-6: calc(var(--sizeVar) *.006);
	--size-px-7: calc(var(--sizeVar) *.007);

	--size-px-8: calc(var(--sizeVar) *.008);

	--size-px-10: calc(var(--sizeVar) * .01);
	--size-px-12: calc(var(--sizeVar) * .012);


	--size-px-14: calc(var(--sizeVar) * .014);
	--size-px-15: calc(var(--sizeVar) * .015);
	--size-px-16: calc(var(--sizeVar) * .016);
	--size-px-18: calc(var(--sizeVar) * .018);

	--size-px-20: calc(var(--sizeVar) *.02);
	--size-px-24: calc(var(--sizeVar) *.024);
	--size-px-28: calc(var(--sizeVar) *.028);


	--size-px-30: calc(var(--sizeVar) *.03);
	--size-px-35: calc(var(--sizeVar) *.035);
	--size-px-40: calc(var(--sizeVar) *.04);
	--size-px-50: calc(var(--sizeVar) *.05);

	--size-px-60: calc(var(--sizeVar) *.06);
	--size-px-70: calc(var(--sizeVar) *.07);
	--size-px-80: calc(var(--sizeVar) *.08);

	--size-px-100: calc(var(--sizeVar) *.1);
	--size-px-200: calc(var(--sizeVar) *.2);
}

/* --- app 추가 --- */
#appIconGeolocation {
    background-image: var(--appIconGeolocationImg);
    background-size: calc(100% + var(--sizeIconImg));
    background-position: center;
}

#appIconVideo {
    background-image: var(--appIconVideoImg);
    background-size: calc(100% + var(--sizeIconImg));
    background-position: center;
}

#appIconAudio {
    background-image: var(--appIconAudioImg);
    background-size: calc(100% + var(--sizeIconImg));
    background-position: center;
}

#appIconIntroduce {
    background-image: var(--appIconIntroduceImg);
    background-size: calc(100% + var(--sizeIconImg));
    background-position: center;
}

#appIconMemo {
    background-image: var(--appIconMemoImg);
    background-size: cover;
}

#appIconFicture {
    background-image: var(--appIconFictureImg);
    background-size: cover;
}

#appIconTodo {
    background-image: var(--appIconTodoImg);
    background-size: calc(100% + var(--sizeIconImg));
    background-position: center;
}

#appIconKanban {
    background-image: var(--appIconKanbanImg);
    background-size: calc(100% + var(--sizeIconImg));
    background-position: center;
}

#appIconBoard {
    background-image: var(--appIconBoardImg);
    background-size: calc(100% + var(--sizeIconImg));
    background-position: center;
}

#appIconCanvas {
    background-image: var(--appIconCanvasImg);
    background-size: calc(100% + var(--sizeIconImg));
    background-position: center;
}

#appIconSignup {
    background-image: var(--appIconSignupImg);
    background-size: calc(100% + var(--sizeIconImg));
    background-position: center;
}

/* --- ------- --- */

body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
}

.ipadBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--sizeVar);
    height: calc(var(--sizeVar) * 0.77);
    background-color: #121212;
    border-radius: calc(var(--sizeVar) / 24);
    box-shadow: 0 0 0 calc(var(--sizeVar) / 200) #9d9ea0;
    transform: translate(-50%, -50%);
}

.upButton,
.downButton {
    position: absolute;
    top: -1.2%;
    width: 4%;
    height: 1%;
    border-radius: calc(var(--sizeVar) / 24) calc(var(--sizeVar) / 24) 0 0;
}

.upButton {
    left: 6%;
}

.downButton {
    left: 11%;
}

.downButton::after,
.upButton::after {
    position: absolute;
    top: -200%;
    left: -6%;
    width: 110%;
    height: 400%;
    content: "";
}

.powerButton {
    position: absolute;
    top: 5%;
    left: -1.5vmin;
    width: fit-content;
    height: 7%;
    padding: 0 0.5vmin 0 0;
    color: transparent;
    border-radius: calc(var(--sizeVar) / 24) 0 0 calc(var(--sizeVar) / 24);
}

.powerButton::after {
    position: absolute;
    top: -25%;
    left: -100%;
    width: 200%;
    height: 150%;
    content: "";
}

.upButton,
.downButton,
.powerButton {
    background-color: #8a8a8a;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: -1;
}

.ipadScreen {
    position: absolute;
    width: 95%;
    height: 93.6%;
    top: 3.2%;
    left: 2.5%;
    border-radius: calc(var(--sizeVar) / 40);
    background-color: #aaaaaa;
    opacity: 0;
    overflow: hidden;
    transition: opacity 300ms linear;
}

.wallpaper,
.lockContent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: var(--ipadBackgroundImg);
    background-position: center;
    background-size: cover;
    /* background-color: black; */
}

.lockContent {
    background: none;
}

.lockScreen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: top 800ms ease-in 0s, backdrop-filter 200ms ease-in 0s;
    /* backdrop-filter: blur(0); */
}

.statusBar {
    width: 100%;
    height: 3%;
    background-image: var(--ipadScreenStatusBarImg);
    background-position: right;
    background-size: 11.6%;
    background-repeat: no-repeat;
}

.lockIcon {
    width: 100%;
    height: 5%;
    background-image: var(--ipadScreenLockIconImg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.lockTime {
    width: 100%;
    margin-top: 3%;
    font-family: "Work Sans", sans-serif;
    font-size: calc(var(--sizeVar) / 46);
    font-weight: 200;
    color: white;
    text-align: center;
    line-height: 250%;
}

.lockTime::first-line {
    font-size: calc(var(--sizeVar) / 10.5);
}

.interactionBar {
    --colorMe: white;
    position: absolute;
    bottom: -8%;
    width: 100%;
    height: 3%;
    transition: bottom 800ms ease-in 0s;
}

.lockScreen .interactionBar {
    bottom: 0;
}

#inAppBar {
    cursor: pointer;
}

.interactionBar::after {
    content: "";
    position: absolute;
    top: 0;
    width: 28%;
    height: 30%;
    margin-left: 36%;
    border-radius: 100px;
    background-color: var(--colorMe);
}

.lockScreen .interactionBar::after {
    animation: interactionAnim 8000ms ease-in infinite;
}

.lockScreen .interactionBar::before {
    content: "swipe up to open";
    position: absolute;
    top: -140%;
    width: 100%;
    font-family: "Work Sans", sans-serif;
    font-size: calc(var(--sizeVar) / 46);
    font-weight: 200;
    color: white;
    text-align: center;
    animation: interTextAnim 8000ms ease-in infinite;
}

.dockWrapper {
    position: absolute;
    display: flex;
    bottom: -20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: bottom 400ms ease-in-out 0s;
}

.dockbar {
    display: inline-flex;
    padding: 0 calc(var(--sizeVar) / 120);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: calc(var(--sizeVar) / 40);
    backdrop-filter: blur(1vh);
}

.iconDiv,
.iconDivide {
    display: inline-flex;
    height: calc(var(--sizeVar) / 20);
    margin: calc(var(--sizeVar) / 60) calc(var(--sizeVar) / 120);
    border-radius: calc(var(--sizeVar) / 80);
}

.iconDiv {
    width: calc(var(--sizeVar) / 20);
    /* background-color: #ffffff; */
    /* background-size: cover;
	background-repeat: no-repeat; */
    /* cursor: pointer; */
    overflow: hidden;
    transition: all 500ms ease-in-out 0s, transform 100ms ease-in-out 0s;
}

.iconDivide {
    width: calc(var(--sizeVar) / 200);
    background-color: rgba(255, 255, 255, 0.1);
}

.iconDivHover:hover {
    transform: scale(1.1);
}

.dockWrapper {
    transition: all 500ms linear;
}

.appIcon {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
    transition: opacity 300ms linear 0s;
    /* transition: all 500ms ease-in-out 0s, transform 100ms ease-in-out 0s; */
}

.sectionContainer {
	position: absolute;
	width: 0;
	height: 0;
	border-radius: calc(var(--sizeVar) / 80);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    z-index: -20;
    transition: all 500ms ease-in-out 0s, transform 100ms ease-in-out 0s;
}

/* .iconDiv .imgDiv {
	position: relative;
	border: none;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	transition: opacity 300ms linear 0s;
} */

/*
.iconDiv:nth-of-type(1) .imgDiv {
	background-image: url(https://assets.codepen.io/2722301/img_sf.jpg);
}

.iconDiv:nth-of-type(2) .imgDiv {
	background-image: url(https://assets.codepen.io/2722301/img_tw.jpg);
}

.iconDiv:nth-of-type(3) .imgDiv {
	background-image: url(https://assets.codepen.io/2722301/img_fb.jpg);
}

.iconDiv:nth-of-type(5) .imgDiv {
	background-image: url(https://assets.codepen.io/2722301/img_md.jpg);
}

.iconDiv:nth-of-type(6) .imgDiv {
	background-image: url(https://assets.codepen.io/2722301/img_cm.jpg);
}

.iconDiv:nth-of-type(7) .imgDiv {
	background-image: url(https://assets.codepen.io/2722301/img_cm.jpg);
} */

@keyframes interactionAnim {
    0% {
        top: 0;
    }

    70% {
        top: 0;
    }

    80% {
        top: -50%;
    }

    92% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

@keyframes interTextAnim {
    0% {
        top: -100%;
        opacity: 0;
    }

    70% {
        top: -100%;
        opacity: 0;
    }

    80% {
        top: -200%;
        opacity: 1;
    }

    90% {
        top: -200%;
        opacity: 1;
    }

    100% {
        top: -200%;
        opacity: 0;
    }
}

/* .sectionWrap {
	width: 96%;
	height: 100%;
	background-color: aliceblue;
} */
