/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap'); */

/* todo-App */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* :root {
	--border-color: rgba(113 119 144 / 25%);
	--inactive-color: rgb(113 119 144 / 78%);
	--content-title-color: #999ba5;
	--content-bg: rgb(146 151 179 / 13%);
	--button-inactive: rgb(249 250 251 / 55%);
	--dropdown-bg: #21242d;
	--dropdown-hover: rgb(42 46 60);
	--popup-bg: rgb(22 25 37);
	--search-bg: #14162b;
	--overlay-bg: rgba(36, 39, 59, 0.3);
	--scrollbar-bg: rgb(1 2 3 / 40%);
}

.light-mode {
	--theme-bg-color: rgb(255 255 255 / 31%);
	--theme-color: #3c3a3a;
	--inactive-color: #333333;
	--button-inactive: #3c3a3a;
	--search-bg: rgb(255 255 255 / 31%);
	--dropdown-bg: #f7f7f7;
	--overlay-bg: rgb(255 255 255 / 30%);
	--dropdown-hover: rgb(236 236 236);
	--popup-bg: rgb(255 255 255);
	--hover-menu-bg: rgba(255 255 255 / 35%);
	--scrollbar-bg: rgb(255 253 253 / 57%);
	--content-title-color: --theme-color;
} */

.todo-body {
    /* color */
    --theme-bg-color: rgba(16 18 27 / 40%);
    --theme-color: #f9fafb;
    --border-color: rgb(255 255 255 / 35%);
    --hover-menu-bg: rgba(12 15 25 / 30%);

    --body-font: "Poppins", sans-serif;

    /* size */
    /* --size-px-2: calc(var(--sizeVar) *.002);
	--size-px-4: calc(var(--sizeVar) *.004);
	--size-px-6: calc(var(--sizeVar) *.006);
	--size-px-8: calc(var(--sizeVar) *.008);

	--size-px-10: calc(var(--sizeVar) * .01);
	--size-px-12: calc(var(--sizeVar) * .012);


	--size-px-14: calc(var(--sizeVar) * .014);
	--size-px-15: calc(var(--sizeVar) * .015);
	--size-px-16: calc(var(--sizeVar) * .016);
	--size-px-18: calc(var(--sizeVar) * .018);

	--size-px-20: calc(var(--sizeVar) *.02);
	--size-px-24: calc(var(--sizeVar) *.024);

	--size-px-30: calc(var(--sizeVar) *.03);
	--size-px-35: calc(var(--sizeVar) *.035);
	--size-px-40: calc(var(--sizeVar) *.04);
	--size-px-50: calc(var(--sizeVar) *.05);

	--size-px-60: calc(var(--sizeVar) *.06);
	--size-px-70: calc(var(--sizeVar) *.07);
	--size-px-100: calc(var(--sizeVar) *.1);
	--size-px-200: calc(var(--sizeVar) *.2); */

    /* img */
    --search-icon-img: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
}

.todo-body {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    font-family: var(--body-font);
    /* background-size: cover; */
    /* background-position: center; */

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo-app {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--theme-bg-color);

    display: flex;
    font-weight: 500;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    flex-direction: column;
    overflow: hidden;
}

/* .todo-menu-circle {
	width: 15px;
	height: 15px;
	background-color: #f96057;
	border-radius: 50%;
	box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
	margin-right: 195px;
	flex-shrink: 0;
} */

.todo-search-bar {
    display: flex;
    width: 100%;
    height: var(--size-px-40);
    margin: var(--size-px-20) 0;
    border-radius: var(--size-px-4);
}

.todo-search-bar-input {
    width: 100%;
    height: 100%;
    padding: 0 var(--size-px-20) 0 var(--size-px-40);
    border: none;
    background-color: var(--search-bg);
    border-radius: var(--size-px-4);
    font-family: var(--body-font);
    font-size: var(--size-px-15);
    font-weight: 500;
    box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
    background-position: var(--size-px-16) 48%;
    background-image: var(--search-icon-img);
    background-size: var(--size-px-14);
    background-repeat: no-repeat;
    color: var(--theme-color);
}

.todo-search-bar-input::placeholder {
    font-family: var(--body-font);
    color: var(--inactive-color);
    font-size: var(--size-px-15);
    font-weight: 500;
}

.todo-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.todo-left-side {
    width: 180px;
    padding: var(--size-px-35);
    padding-right: var(--size-px-15);
    border-right: 1px solid var(--border-color);
    flex-shrink: 0;
    overflow: auto;
}

@media screen and (max-width: 945px) {
    .todo-left-side {
        display: none;
    }
}

.todo-side-wrapper + .todo-side-wrapper {
    margin-top: var(--size-px-20);
}

.todo-side-title {
    margin-bottom: var(--size-px-14);
    padding-left: var(--size-px-4);
    color: var(--theme-color);
    font-size: var(--size-px-14);
}

.todo-side-menu {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.todo-side-menu > a {
    display: flex;
    padding: var(--size-px-10);
    border-radius: var(--size-px-6);
    color: var(--theme-color);
    font-size: var(--size-px-14);
    font-weight: 400;
    text-decoration: none;
    align-items: center;
    transition: 0.3s;
}

.todo-side-menu > a:hover {
    background-color: var(--hover-menu-bg);
}

.todo-side-menu svg {
    width: var(--size-px-16);
    margin-right: var(--size-px-8);
}

.todo-side-menu .updates {
    position: relative;
    top: 0;
    right: 0;
    width: var(--size-px-18);
    height: var(--size-px-18);
    margin-left: auto;
    font-size: var(--size-px-10);
}

.notification-number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a6df0;
    border-radius: 50%;
    color: #fff;
}

.todo-main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.todo-content-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--theme-color);
    padding: var(--size-px-20);

    height: 100%;
    overflow: auto;
}

/* @media screen and (max-width: 510px) {
	.todo-content-wrapper {
		padding: 20px;
	}
} */

.todo-content-section {
    position: relative;
    margin-top: var(--size-px-30);
    display: flex;
    flex-direction: column;
}

.todo-content-section-title {
    margin-bottom: var(--size-px-14);
    padding-left: var(--size-px-14);
    color: var(--theme-color);
    font-weight: 500;
    font-size: var(--size-px-30);
    text-decoration: none;
}

.todo-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* ---------kanban--------- */

.kanban-board * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.kanban-board {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 1;
}

.todo-select-section {
    opacity: 1;
    z-index: 10;
}

.kanban-board__wrap {
    display: flex;
    justify-content: center;
    margin: var(--size-px-30) auto;
    gap: 6%;
}

.kanban-board__container {
    height: fit-content;
    display: flex;
    background-color: aliceblue;
    border-radius: var(--size-px-8);
    flex-direction: column;
    align-items: center;
}

.board__ideas-header {
    color: #fff;
    background: #7e57c2;
}

.board__inprogress-header {
    color: #fff;
    background: #5c6bc0;
}

.board__done-header {
    color: #fff;
    background: #66bb6a;
}

.kanban-board__header {
    position: relative;
    display: flex;

    width: var(--size-px-200);
    height: var(--size-px-70);

    font-size: var(--size-px-14);
    text-align: center;
    border-top-left-radius: var(--size-px-8);
    border-top-right-radius: var(--size-px-8);

    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.todo-add-button {
    position: absolute;
    top: var(--size-px-20);
    right: 5%;
    width: var(--size-px-50);
    height: var(--size-px-30);

    background-color: transparent;
    border-radius: var(--size-px-20);
    font-size: var(--size-px-10);
    color: #fff;
    opacity: 0.5;
}

.todo-add-button:hover {
    opacity: 1;
}

.delete-button {
    position: absolute;
    top: 24%;
    right: var(--size-px-10);
    width: var(--size-px-16);
    height: var(--size-px-16);
    line-height: var(--size-px-10);
    border: none;
    font-size: var(--size-px-16);
    cursor: pointer;

    background-color: #bfc0bf;
    border-radius: 50%;
    color: rgb(51, 49, 49);
}

.delete-button:hover {
    transform: scale(1.1);
}

.kanban-board__item-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: var(--size-px-200);
    min-height: var(--size-px-100);
    flex-direction: column;
}

.draggable {
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    padding: var(--size-px-10);
    color: black;
    cursor: grab;
    transition: 0.3s;
}

.draggable.dragging {
    opacity: 0.5;
}

.draggable > p {
    font-size: var(--size-px-12);
}

.tag {
    display: inline-flex;
    margin-bottom: var(--size-px-10);
    padding: var(--size-px-2) var(--size-px-4);

    color: #fff;
    font-size: var(--size-px-10);

    background: #5c6bc0;
    border-radius: 5px;
}
