* {
    margin: 0;
    padding: 0;
}

.video-body {
    height: 100%;
    width: 100%;
    touch-action: none;
    overflow: hidden;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #111;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

h1 {
    color: white;
    font-size: 2.5em;
    font-family: Times New Roman;
    font-weight: lighter;
    margin-top: -250px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

#spin-container-wrapper {
    /* left: 10%;    */
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center center;
    /* transform: rotateY(10deg); 회전 방향을 유지하되, 회전 중심 변경 */
}

#drag-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    margin: auto;
    width: 50%;
    /* height: 50%; */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
}

#spin-container {
    position: relative;
    margin: auto;
    width: 00%;
    height: 100%;
    /* left: 15%; */
    /* transform: translate(-50%, -50%); */
    transform-origin: center center; /* spin container의 회전 중심을 다시 설정합니다 */
    transform-style: preserve-3d;
    /* spin container의 회전 각도를 설정합니다 */
}

/* #drag-container img, */
#drag-container video {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    width: 70%;
    height: 200%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px
        linear-gradient(transparent, transparent, #0005);
}

/* #drag-container img:hover,
#drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
    box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0007);
} */

#drag-container p {
    font-family: Serif;
    position: absolute;
    top: 100%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    color: #fff;
}

#ground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 200%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    background: -webkit-radial-gradient(
        center center,
        farthest-side,
        rgb(131, 127, 127),
        transparent
    );
}

#music-container {
    position: absolute;
    top: 0;
    left: 0;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

#video-container {
    position: absolute;
    width: 15%;
    top: 6%;
    right: 5%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    #video-container {
        width: 30%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #video-container {
        width: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .add-file-btn,
    .remove-file-btn,
    .view-video-btn {
        font-size: 8px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .add-file-btn,
    .remove-file-btn,
    .view-video-btn {
        font-size: 10px;
    }
}

@media only screen and (min-width: 1025px) {
    .add-file-btn,
    .remove-file-btn,
    .view-video-btn {
        font-size: 12px;
    }
}

#video-container h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

#video-list {
    list-style-type: none;
    padding: 0;
}

#video-list li {
    margin-bottom: 5px;
    font-size: 14px;
}

#video-list li:hover {
    background-color: green;
    cursor: pointer;
}

#video-list li.clicked {
    background-color: #f00;
}

#video-container button {
    display: block;
    margin-top: 10px;
}

#video-container-label {
    display: flex;
    justify-content: space-between;
}

#video-list-label {
    display: flex;
}

.add-file-btn {
    width: 20%;
    height: 10%;
    background-color: #ff6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.add-file-btn:hover {
    background-color: blue;
}

#add-file {
    display: none;
}

.remove-file-btn {
    width: 20%;
    height: 10%;
    padding: 6px 25px;
    background-color: #ff6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.remove-file-btn:hover {
    background-color: blue;
}

#remove-file {
    display: none;
    visibility: hidden;
}

.view-video-btn {
    width: 20%;
    height: 10%;
    padding: 6px 25px;
    background-color: #ff6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.view-video-btn:hover {
    background-color: blue;
}

#view-video {
    display: none;
    visibility: hidden;
}

.break-btn {
    padding: 6px 25px;
    background-color: #ff6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.break-btn:hover {
    background-color: blue;
}

#break {
    display: none;
    visibility: hidden;
}

#spin-container video.selected {
    border: 5px solid red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px;
    width: 70%;
    max-width: 1200px;
    height: 70%;
    max-height: 800px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-close {
    height: 28px;
    width: 28px;
    position: absolute;
    border-radius: 6px;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    background-color: #aaa;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close:hover,
.modal-close:focus {
    background-color: red;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modal-video {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.capture-video {
    width: 10%;
    height: 5%;
    position: absolute;
    top: 87%;
    left: 46%;
    border-radius: 6px;
    color: white;
    background-color: #aaa;
    font-size: 20px;
    font-weight: bold;
}

.capture-video:hover,
.capture-video:focus {
    background-color: yellow;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#image-container {
    position: absolute;
    width: 15%;
    top: 6%;
    left: 5%;
    z-index: 998;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: calc(100% - 40px);
}

@media only screen and (max-width: 600px) {
    #image-container {
        width: 30%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #image-container {
        width: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .view-image-btn,
    .save-image-btn {
        font-size: 8px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .view-image-btn,
    .save-image-btn {
        font-size: 10px;
    }
}

@media only screen and (min-width: 1025px) {
    .view-image-btn,
    .save-image-btn {
        font-size: 12px;
    }
}

#image-container h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

#image-list {
    list-style-type: none;
    padding: 0;
}

#image-list li {
    margin-bottom: 5px;
    font-size: 14px;
}

#image-list li:hover {
    background-color: green;
    cursor: pointer;
}

#image-list li.clicked {
    background-color: #f00;
}

#image-container button {
    display: block;
    margin-top: 10px;
}

#image-list-label {
    display: flex;
}

#image-container-label {
    display: flex;
    justify-content: space-between;
}

#image-list-label {
    display: flex;
}

.view-image-btn {
    width: 20%;
    height: 10%;
    padding: 6px 25px;
    background-color: #ff6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.view-image-btn:hover {
    background-color: blue;
}

#view-image {
    display: none;
    visibility: hidden;
}

.save-image-btn {
    width: 20%;
    height: 10%;
    padding: 6px 25px;
    background-color: #ff6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.save-image-btn:hover {
    background-color: blue;
}

#save-image {
    display: none;
    visibility: hidden;
}
