.widget {
    position: absolute;
}

.widget-todo-section {
    top: -60%;
    /* top: calc(var(--sizeVar) * .04); */
    left: calc(var(--sizeVar) * 0.04);
    transition: top 400ms ease-in-out 0s;
}

.widget-todo-app {
    width: calc(var(--sizeVar) * 0.25);
    height: fit-content;
    border-radius: calc(var(--sizeVar) / 24);
    background-color: var(--wt-color-white);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    letter-spacing: -1px;

    user-select: none;
}

/*------ wt-app-header ------*/
.wt-app-header {
    position: relative;
    /* width: 100%; */
    /* height: 170px; */

    border-top-left-radius: calc(var(--sizeVar) / 24);
    border-top-right-radius: calc(var(--sizeVar) / 24);

    background: linear-gradient(
            135deg,
            rgba(158, 15, 184, 0.7) -10%,
            rgba(5, 232, 255, 0.8) 180%
        ),
        url("https://static.vecteezy.com/system/resources/previews/000/101/253/non_2x/vector-free-abstract-background-1.jpg");
    background-size: cover;
    border-width: 0;
}

.wt-app-header__date {
    position: relative;
    width: 100%;
    padding: 11px 0 5px 0;
}

#wt-day,
#wt-month {
    margin: var(--wt-my0mxAuto);
    text-align: center;
    /* font-size: 26px; */
    font-size: calc(var(--sizeVar) / 55);

    color: var(--wt-color-white);
}

#wt-month {
    /* font-size: 16px; */
    font-size: calc(var(--sizeVar) / 75);
}

#wt-today {
    font-weight: bold;
}

.wt-app-header__info {
    position: relative;

    width: 80%;
    /* height: 50px; */
    height: calc(var(--sizeVar) * 0.05);

    /* margin: 40px auto 0 auto; */
    margin: calc(var(--sizeVar) / 100) auto 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-between;
}

.wt-app-header__info__content {
    list-style: none;
    margin: 0;
    padding: 0;
}

#wt-count,
#wt-tasks,
#wt-count_done,
#wt-tasks_done,
#wt-remaining_done,
#wt-remaining_tasks {
    /* font-size: 19px; */
    font-size: calc(var(--sizeVar) / 70);

    color: var(--wt-color-white);
    font-weight: bold;
    text-align: center;
}

#tasks,
#tasks_done,
#remaining_tasks {
    font-weight: normal;
    /* font-size: 18px; */
    font-size: calc(var(--sizeVar) / 70);
    margin-top: -2px;
}

/*------ wt-app-main ------*/
.wt-app-main__container {
    /* height: 100%; */
    height: fit-content;
    margin: 0;
    padding: 0;
    /* max-height: 18vmax; */
    max-height: calc(var(--sizeVar) * 0.22);

    overflow: auto;
}

#wt-info_introduction {
    width: 100%;
    /* height: 52px; */
    height: calc(var(--sizeVar) * 0.05);

    /* margin: 10px auto; */
    margin: calc(var(--sizeVar) / 140) auto;

    /* font-size: 18px;*/
    font-size: calc(var(--sizeVar) / 60);

    text-align: center;
    color: #636363;

    /* line-height: 52px; */
    line-height: calc(var(--sizeVar) * 0.05);
}

.wt-todo {
    position: relative;
    display: flex;

    /* margin: 10px auto; */
    margin: calc(var(--sizeVar) / 90) auto;

    width: 92%;
    min-height: calc(var(--sizeVar) / 35);
    height: fit-content;

    list-style: none;
    color: #636363;

    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.35s;

    align-items: center;
}

.wt-todohidden {
    opacity: 0;
}

.wt-todo__check_button,
.wt-todo__delete_button {
    display: inline-block;
    /* display: flex; */
    width: calc(var(--sizeVar) / 24);

    /* width: 35px; */
    height: 100%;

    background-color: transparent;
    border: 0;
    /* align-items: start; */
}

/* .todo__check_button {
	color: #636363;
  } */

.wt-check_icon {
    position: absolute;
    top: calc(var(--sizeVar) / 120);
    left: 7px;
    font-size: calc(var(--sizeVar) / 60);
    line-height: calc(var(--sizeVar) / 60);

    /* font-size: 20px; */
    font-weight: bold;

    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.mark {
    color: #744bc0;
}

.mark-alt {
    color: #636363;
}

.wt-delete_icon {
    position: absolute;
    top: calc(var(--sizeVar) / 120);

    cursor: pointer;
    /* font-size: 20px; */
    font-size: calc(var(--sizeVar) / 60);
}

.wt-delete_icon:hover {
    color: rgba(36, 181, 226, 1);
}

.wt-todo__content {
    width: 60%;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    /* display: flex;
	align-items: start; */
}

.wt-todo__content > p {
    margin: 0;
    width: 90%;
    display: inline-block;
    height: 100%;
    word-wrap: break-word;
    line-height: calc(var(--sizeVar) / 60);
    font-size: calc(var(--sizeVar) / 70);
    /* letter-spacing: -1px; */
    font-weight: bold;

    cursor: text;

    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
}

.wt-todo__content--done {
    color: #b3b3b3;
    text-decoration: line-through;
    font-style: italic;
    transform: translateX(7px);
}

/* add button */
.wt-add_todo {
    background-color: transparent;
    border: 0;
    margin-top: -150px;
    width: auto;
    height: calc(var(--sizeVar) / 20);

    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.wt-show {
    margin-top: calc(var(--sizeVar) / 60 * -1);
}

#wt-add-new {
    display: block;
    width: fit-content;
    height: calc(var(--sizeVar) / 30);
    /* height: 40px; */
    /* margin: 40px auto 0 auto; */
    margin: calc(var(--sizeVar) / 60) auto 0 auto;

    padding: 0 calc(var(--sizeVar) / 60);

    background: var(--wt-color-gradation);
    border-radius: calc(var(--sizeVar) / 60);
    border: none;
    font-size: calc(var(--sizeVar) / 60);

    /* font-size: 18px; */

    line-height: calc(var(--sizeVar) / 30);
    color: var(--wt-color-white);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

#wt-add-new > i {
    margin-right: 5px;
}

#wt-add-new:hover {
    background: var(--wt-color-gradation-hover);
}

#wt-add-new:active {
    transform: translateY(1px);
    background: var(--wt-color-gradation-active);
}

/* End To-Do List App */

.wt-down {
    -webkit-animation: wt-slide_down 0.4s;
    -moz-animation: wt-slide_down 0.4s;
    -o-animation: wt-slide_down 0.4s;
    animation: wt-slide_down 0.4s;
}

@keyframes wt-slide_down {
    0% {
        opacity: 0;
        transform: scale(0);
        margin-top: -41px;
    }

    20% {
        opacity: 0;
    }

    80% {
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        margin-top: 10px;
    }
}

.wt-up {
    -webkit-animation: wt-slide_up 0.6s;
    -moz-animation: wt-slide_up 0.6s;
    -o-animation: wt-slide_up 0.6s;
    animation: wt-slide_up 0.6s;
}

@keyframes wt-slide_up {
    0% {
        opacity: 1;
        transform: scale(1);
        margin-top: 10px;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: scale(0);
        margin-top: -45px;
    }
}

.wt-down_in {
    -webkit-animation: wt-down_in 0.35s;
    -moz-animation: wt-down_in 0.35s;
    -o-animation: wt-down_in 0.35s;
    animation: wt-down_in 0.35s;
}

@keyframes wt-down_in {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(-55px);
    }

    70% {
        transform: scale(1.07);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}

.wt-pop_in {
    -webkit-animation: wt-pop_in 0.35s;
    -moz-animation: wt-pop_in 0.35s;
    -o-animation: wt-pop_in 0.35s;
    animation: wt-pop_in 0.35s;
}

@keyframes wt-pop_in {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.widget ::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

.widget ::-webkit-scrollbar-thumb {
    background: #9898a5;
    border-radius: 10px;
}
